.timer-wrapper {
  max-width: 1120px;
  margin: 0 auto;
}

.timer {
  margin-top: 70px;
  width: 100%;
}

.timer-text {
  width: 100%;
  font-weight: 600;
  text-align: end;
  display: flex;
  justify-content: flex-end;
}

.timer-text h3 {
  width: 460px;
  text-transform: uppercase;
  line-height: 1.1;
}

.timer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.timer-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.timer-buttons button {
  width: 210px;
  height: 51px;
  background-color: #050505;
  border-radius: 24px;
  border-color: #f0f0f0;
  border-width: 5px;
  border-style: solid;
}


@media (max-width: 1400px) {
  .timer {
    margin-top: -100px;
    width: 100%;
  }

  .timer-text h3 {
    font-size: 42px;
    width: 400px;
  }

  .timer-buttons {
    gap: 14px;
  }

  .timer-buttons button {
    width: 190px;
    height: 51px;
  }

  .timer-time h2 {
    font-size: 268px;
  }
}

@media (max-width: 1120px) {
  .timer-wrapper {
    max-width: 820px;
  }

  .timer {
    margin-top: -170px;
  }

  .timer-text h3 {
    font-size: 32px;
    width: 300px;
  }

  .timer-buttons button {
    width: 170px;
    height: 41px;
  }

  .timer-time h2 {
    font-size: 218px;
  }
}

@media (max-width: 1120px) {
  .timer-wrapper {
    max-width: 820px;
  }

  .timer {
    margin-top: -170px;
  }

  .timer-text h3 {
    font-size: 32px;
    width: 300px;
  }

  .timer-buttons button {
    width: 170px;
    height: 41px;
  }

  .timer-time h2 {
    font-size: 218px;
  }
}

@media (max-width: 850px) {
  .timer-wrapper {
    max-width: 700px;
  }

  .timer {
    margin-top: -240px;
  }

  .timer-text h3 {
    font-size: 26px;
    width: 200px;
  }

  .timer-buttons button {
    width: 140px;
    height: 30px;
  }

  .timer-time h2 {
    font-size: 170px;
  }
}

@media (max-width: 740px) {
  .timer-wrapper {
    max-width: 550px;
  }

  .timer {
    margin-top: -240px;
  }

  .timer-text {
    text-align: center;
    justify-content: center;
  }

  .timer-text h3 {
    font-size: 24px;
    width: 50%;
  }

  .timer-buttons {
    width: 100%;
  }

  .timer-buttons button {
    height: 40px;
    width: 100%;
  }

  .timer-time h2 {
    font-size: 150px;
  }

  .timer-content {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 520px) {
  .timer-wrapper {
    max-width: 350px;
  }

  .timer {
    margin-top: -240px;
  }

  .timer-text h3 {
    font-size: 18px;
  }

  .timer-buttons button {
    height: 40px;
    width: 100%;
  }

  .timer-time h2 {
    font-size: 100px;
  }

  .timer-content {
    display: flex;
    flex-direction: column;
  }

}









.timer-time h2.countdown::after {
  content: "08:00:00";
  animation: countdown 300s steps(300) forwards infinite;
}

@keyframes countdown {
  0%   { content: "08:00:00"; }
  0.333% { content: "07:59:59"; }
  0.667% { content: "07:59:58"; }
  1%   { content: "07:59:57"; }
  1.333% { content: "07:59:56"; }
  1.667% { content: "07:59:55"; }
  2%   { content: "07:59:54"; }
  2.333% { content: "07:59:53"; }
  2.667% { content: "07:59:52"; }
  3%   { content: "07:59:51"; }
  3.333% { content: "07:59:50"; }
  3.667% { content: "07:59:49"; }
  4%   { content: "07:59:48"; }
  4.333% { content: "07:59:47"; }
  4.667% { content: "07:59:46"; }
  5%   { content: "07:59:45"; }
  5.333% { content: "07:59:44"; }
  5.667% { content: "07:59:43"; }
  6%   { content: "07:59:42"; }
  6.333% { content: "07:59:41"; }
  6.667% { content: "07:59:40"; }
  7%   { content: "07:59:39"; }
  7.333% { content: "07:59:38"; }
  7.667% { content: "07:59:37"; }
  8%   { content: "07:59:36"; }
  8.333% { content: "07:59:35"; }
  8.667% { content: "07:59:34"; }
  9%   { content: "07:59:33"; }
  9.333% { content: "07:59:32"; }
  9.667% { content: "07:59:31"; }
  10%  { content: "07:59:30"; }
  10.333% { content: "07:59:29"; }
  10.667% { content: "07:59:28"; }
  11%  { content: "07:59:27"; }
  11.333% { content: "07:59:26"; }
  11.667% { content: "07:59:25"; }
  12%  { content: "07:59:24"; }
  12.333% { content: "07:59:23"; }
  12.667% { content: "07:59:22"; }
  13%  { content: "07:59:21"; }
  13.333% { content: "07:59:20"; }
  13.667% { content: "07:59:19"; }
  14%  { content: "07:59:18"; }
  14.333% { content: "07:59:17"; }
  14.667% { content: "07:59:16"; }
  15%  { content: "07:59:15"; }
  15.333% { content: "07:59:14"; }
  15.667% { content: "07:59:13"; }
  16%  { content: "07:59:12"; }
  16.333% { content: "07:59:11"; }
  16.667% { content: "07:59:10"; }
  17%  { content: "07:59:09"; }
  17.333% { content: "07:59:08"; }
  17.667% { content: "07:59:07"; }
  18%  { content: "07:59:06"; }
  18.333% { content: "07:59:05"; }
  18.667% { content: "07:59:04"; }
  19%  { content: "07:59:03"; }
  19.333% { content: "07:59:02"; }
  19.667% { content: "07:59:01"; }
  20%  { content: "07:59:00"; }
    20%    { content: "07:59:00"; }
  20.333% { content: "07:58:59"; }
  20.667% { content: "07:58:58"; }
  21%    { content: "07:58:57"; }
  21.333% { content: "07:58:56"; }
  21.667% { content: "07:58:55"; }
  22%    { content: "07:58:54"; }
  22.333% { content: "07:58:53"; }
  22.667% { content: "07:58:52"; }
  23%    { content: "07:58:51"; }
  23.333% { content: "07:58:50"; }
  23.667% { content: "07:58:49"; }
  24%    { content: "07:58:48"; }
  24.333% { content: "07:58:47"; }
  24.667% { content: "07:58:46"; }
  25%    { content: "07:58:45"; }
  25.333% { content: "07:58:44"; }
  25.667% { content: "07:58:43"; }
  26%    { content: "07:58:42"; }
  26.333% { content: "07:58:41"; }
  26.667% { content: "07:58:40"; }
  27%    { content: "07:58:39"; }
  27.333% { content: "07:58:38"; }
  27.667% { content: "07:58:37"; }
  28%    { content: "07:58:36"; }
  28.333% { content: "07:58:35"; }
  28.667% { content: "07:58:34"; }
  29%    { content: "07:58:33"; }
  29.333% { content: "07:58:32"; }
  29.667% { content: "07:58:31"; }
  30%    { content: "07:58:30"; }
  30.333% { content: "07:58:29"; }
  30.667% { content: "07:58:28"; }
  31%    { content: "07:58:27"; }
  31.333% { content: "07:58:26"; }
  31.667% { content: "07:58:25"; }
  32%    { content: "07:58:24"; }
  32.333% { content: "07:58:23"; }
  32.667% { content: "07:58:22"; }
  33%    { content: "07:58:21"; }
  33.333% { content: "07:58:20"; }
  33.667% { content: "07:58:19"; }
  34%    { content: "07:58:18"; }
  34.333% { content: "07:58:17"; }
  34.667% { content: "07:58:16"; }
  35%    { content: "07:58:15"; }
  35.333% { content: "07:58:14"; }
  35.667% { content: "07:58:13"; }
  36%    { content: "07:58:12"; }
  36.333% { content: "07:58:11"; }
  36.667% { content: "07:58:10"; }
  37%    { content: "07:58:09"; }
  37.333% { content: "07:58:08"; }
  37.667% { content: "07:58:07"; }
  38%    { content: "07:58:06"; }
  38.333% { content: "07:58:05"; }
  38.667% { content: "07:58:04"; }
  39%    { content: "07:58:03"; }
  39.333% { content: "07:58:02"; }
  39.667% { content: "07:58:01"; }
  40%    { content: "07:58:00"; }
  40.333% { content: "07:57:59"; }
  40.667% { content: "07:57:58"; }
  41%    { content: "07:57:57"; }
  41.333% { content: "07:57:56"; }
  41.667% { content: "07:57:55"; }
  42%    { content: "07:57:54"; }
  42.333% { content: "07:57:53"; }
  42.667% { content: "07:57:52"; }
  43%    { content: "07:57:51"; }
  43.333% { content: "07:57:50"; }
  43.667% { content: "07:57:49"; }
  44%    { content: "07:57:48"; }
  44.333% { content: "07:57:47"; }
  44.667% { content: "07:57:46"; }
  45%    { content: "07:57:45"; }
  45.333% { content: "07:57:44"; }
  45.667% { content: "07:57:43"; }
  46%    { content: "07:57:42"; }
  46.333% { content: "07:57:41"; }
  46.667% { content: "07:57:40"; }
  47%    { content: "07:57:39"; }
  47.333% { content: "07:57:38"; }
  47.667% { content: "07:57:37"; }
  48%    { content: "07:57:36"; }
  48.333% { content: "07:57:35"; }
  48.667% { content: "07:57:34"; }
  49%    { content: "07:57:33"; }
  49.333% { content: "07:57:32"; }
  49.667% { content: "07:57:31"; }
  50%    { content: "07:57:30"; }
  50.333% { content: "07:57:29"; }
  50.667% { content: "07:57:28"; }
  51%    { content: "07:57:27"; }
  51.333% { content: "07:57:26"; }
  51.667% { content: "07:57:25"; }
  52%    { content: "07:57:24"; }
  52.333% { content: "07:57:23"; }
  52.667% { content: "07:57:22"; }
  53%    { content: "07:57:21"; }
  53.333% { content: "07:57:20"; }
  53.667% { content: "07:57:19"; }
  54%    { content: "07:57:18"; }
  54.333% { content: "07:57:17"; }
  54.667% { content: "07:57:16"; }
  55%    { content: "07:57:15"; }
  55.333% { content: "07:57:14"; }
  55.667% { content: "07:57:13"; }
  56%    { content: "07:57:12"; }
  56.333% { content: "07:57:11"; }
  56.667% { content: "07:57:10"; }
  57%    { content: "07:57:09"; }
  57.333% { content: "07:57:08"; }
  57.667% { content: "07:57:07"; }
  58%    { content: "07:57:06"; }
  58.333% { content: "07:57:05"; }
  58.667% { content: "07:57:04"; }
  59%    { content: "07:57:03"; }
  59.333% { content: "07:57:02"; }
  59.667% { content: "07:57:01"; }
  60%    { content: "07:57:00"; }
  60.333% { content: "07:56:59"; }
  60.667% { content: "07:56:58"; }
  61%    { content: "07:56:57"; }
  61.333% { content: "07:56:56"; }
  61.667% { content: "07:56:55"; }
  62%    { content: "07:56:54"; }
  62.333% { content: "07:56:53"; }
  62.667% { content: "07:56:52"; }
  63%    { content: "07:56:51"; }
  63.333% { content: "07:56:50"; }
  63.667% { content: "07:56:49"; }
  64%    { content: "07:56:48"; }
  64.333% { content: "07:56:47"; }
  64.667% { content: "07:56:46"; }
  65%    { content: "07:56:45"; }
  65.333% { content: "07:56:44"; }
  65.667% { content: "07:56:43"; }
  66%    { content: "07:56:42"; }
  66.333% { content: "07:56:41"; }
  66.667% { content: "07:56:40"; }
  67%    { content: "07:56:39"; }
  67.333% { content: "07:56:38"; }
  67.667% { content: "07:56:37"; }
  68%    { content: "07:56:36"; }
  68.333% { content: "07:56:35"; }
  68.667% { content: "07:56:34"; }
  69%    { content: "07:56:33"; }
  69.333% { content: "07:56:32"; }
  69.667% { content: "07:56:31"; }
  70%    { content: "07:56:30"; }
  71%    { content: "07:56:29"; }
  71.333% { content: "07:56:28"; }
  71.667% { content: "07:56:27"; }
  72%    { content: "07:56:26"; }
  72.333% { content: "07:56:25"; }
  72.667% { content: "07:56:24"; }
  73%    { content: "07:56:23"; }
  73.333% { content: "07:56:22"; }
  73.667% { content: "07:56:21"; }
  74%    { content: "07:56:20"; }
  74.333% { content: "07:56:19"; }
  74.667% { content: "07:56:18"; }
  75%    { content: "07:56:17"; }
  75.333% { content: "07:56:16"; }
  75.667% { content: "07:56:15"; }
  76%    { content: "07:56:14"; }
  76.333% { content: "07:56:13"; }
  76.667% { content: "07:56:12"; }
  77%    { content: "07:56:11"; }
  77.333% { content: "07:56:10"; }
  77.667% { content: "07:56:09"; }
  78%    { content: "07:56:08"; }
  78.333% { content: "07:56:07"; }
  78.667% { content: "07:56:06"; }
  79%    { content: "07:56:05"; }
  79.333% { content: "07:56:04"; }
  79.667% { content: "07:56:03"; }
  80%    { content: "07:56:02"; }
  80.333% { content: "07:56:01"; }
  80.667% { content: "07:56:00"; }
  81%    { content: "07:55:59"; }
  81.333% { content: "07:55:58"; }
  81.667% { content: "07:55:57"; }
  82%    { content: "07:55:56"; }
  82.333% { content: "07:55:55"; }
  82.667% { content: "07:55:54"; }
  83%    { content: "07:55:53"; }
  83.333% { content: "07:55:52"; }
  83.667% { content: "07:55:51"; }
  84%    { content: "07:55:50"; }
  84.333% { content: "07:55:49"; }
  84.667% { content: "07:55:48"; }
  85%    { content: "07:55:47"; }
  85.333% { content: "07:55:46"; }
  85.667% { content: "07:55:45"; }
  86%    { content: "07:55:44"; }
  86.333% { content: "07:55:43"; }
  86.667% { content: "07:55:42"; }
  87%    { content: "07:55:41"; }
  87.333% { content: "07:55:40"; }
  87.667% { content: "07:55:39"; }
  88%    { content: "07:55:38"; }
  88.333% { content: "07:55:37"; }
  88.667% { content: "07:55:36"; }
  89%    { content: "07:55:35"; }
  89.333% { content: "07:55:34"; }
  89.667% { content: "07:55:33"; }
  90%    { content: "07:55:32"; }
  90.333% { content: "07:55:31"; }
  90.667% { content: "07:55:30"; }
  91%    { content: "07:55:29"; }
  91.333% { content: "07:55:28"; }
  91.667% { content: "07:55:27"; }
  92%    { content: "07:55:26"; }
  92.333% { content: "07:55:25"; }
  92.667% { content: "07:55:24"; }
  93%    { content: "07:55:23"; }
  93.333% { content: "07:55:22"; }
  93.667% { content: "07:55:21"; }
  94%    { content: "07:55:20"; }
  94.333% { content: "07:55:19"; }
  94.667% { content: "07:55:18"; }
  95%    { content: "07:55:17"; }
  95.333% { content: "07:55:16"; }
  95.667% { content: "07:55:15"; }
  96%    { content: "07:55:14"; }
  96.333% { content: "07:55:13"; }
  96.667% { content: "07:55:12"; }
  97%    { content: "07:55:11"; }
  97.333% { content: "07:55:10"; }
  97.667% { content: "07:55:09"; }
  98%    { content: "07:55:08"; }
  98.333% { content: "07:55:07"; }
  98.667% { content: "07:55:06"; }
  99%    { content: "07:55:05"; }
  99.333% { content: "07:55:04"; }
  99.667% { content: "07:55:03"; }
  100%   { content: "07:55:00"; }

}
