.watch-wrapper {
  width: 80%;

  margin: 0 auto;
  padding: 100px 0 69px 0;
}

.watch-section-for-ribbot {
  position: relative;
}

.watch-wrapper h3 {
  text-transform: uppercase;
  width: 380px;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.watch {
  width: 100%;
  aspect-ratio: 1127 / 568;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-mask {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.container-rib {
  position: absolute;
  left: 0;
  z-index: 5;
  top: -200px;

  width: 100vw;
  /* height: 100vh; */
  height: 1000px;
  overflow-x: hidden;
  padding: 100px;
}

.watch-ribbot-wrapper {

  transform: rotate(7.69deg);
}
.watch-ribbot {
  animation: running-ribbot-inverted 10s linear infinite;
}

@keyframes running-ribbot-inverted {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(-3.2%);
  }
}

.watch-slideshow {
  position: absolute;
  inset: 0; 
}

.watch-slideshow img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 77%;
  height: 77%;
  object-fit: cover;

  opacity: 0;
  animation: slideshow 30s infinite;
}

/* задержки */
.watch-slideshow img:nth-child(1) {
  animation-delay: 0s;
}
.watch-slideshow img:nth-child(2) {
  animation-delay: 5s;
}
.watch-slideshow img:nth-child(3) {
  animation-delay: 10s;
}
.watch-slideshow img:nth-child(4) {
  animation-delay: 15s;
}
.watch-slideshow img:nth-child(5) {
  animation-delay: 20s;
}
.watch-slideshow img:nth-child(6) {
  animation-delay: 25s;
}

@keyframes slideshow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1120px) {


  .watch-wrapper h3 {
    font-size: 42px;
  }
}

@media (max-width: 850px) {

  .watch-wrapper h3 {
    font-size: 36px;
  }
}

@media (max-width: 740px) {
  .watch-wrapper {

    padding-top: 20px;
  }

  .watch-wrapper h3 {
    font-size: 32px;
  }
    
  .watch-ribbot {
    height: 80px;
  }

  .container-rib {
    height: 500px;
  }
}

@media (max-width: 520px) {
  .watch-wrapper {

    padding-top: 20px;
  }

  .watch-wrapper h3 {
    font-size: 22px;
    width: 200px;
    margin-left: 20px;
  }

  .watch-ribbot {
    height: 80px;
  }

  .container-rib {
    height: 500px;
  }
}
